# Active Campaign:
ACTIVE_CAMPAIGN_ACCOUNT_NAME=
ACTIVE_CAMPAIGN_API_TOKEN=

# Elasticsearch Connections for Python:
ES_HOST=es01

# Elasticsearch and Kibana docker settings:
STACK_VERSION=8.14.0
LICENSE=basic
MEM_LIMIT=1024m
CLUSTER_NAME=es-store

ELASTIC_PASSWORD=secret
KIBANA_PASSWORD=secret

ES_PORT=9222
KIBANA_PORT=5602